.page-wrapper {
  height: 100vh;
  background-color: #f3f6f9;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.input-name {
  width: 300px;
  font: inherit;
  letter-spacing: inherit;
  color: rgb(61, 71, 82);
  padding: 4px 0 5px;
  box-sizing: content-box;
  background: none;
  height: 1.4375em;
  display: block;
  min-width: 0;
  padding: 16.5px 14px;
  margin-right: 20px;
  border-radius: 8px;
}

.load-button {
  width: 174px;
  box-sizing: border-box;
  outline: 0px;
  border: 0px;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 0px;
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.875rem;
  line-height: 1.75;
  padding: 6px 16px;
  border-radius: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: none;
  background-color: rgb(0, 127, 255);
  color: rgb(255, 255, 255);
}

.load-button:hover {
  background-color: rgb(0, 89, 178);
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px,
    rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
}

.load-button-placeholder {
  width: 290px;
  margin-left: 15px;
  box-sizing: border-box;
  outline: 0px;
  border: 0px;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 0px;
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.875rem;
  line-height: 1.75;
  padding: 6px 16px;
  border-radius: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: none;
  background-color: rgb(0, 127, 255);
  color: rgb(255, 255, 255);
}

.load-button-placeholder:hover {
  background-color: rgb(0, 89, 178);
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px,
    rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
}

.results-container {
  flex-grow: 1;
  background-color: rgb(255, 255, 255);
  color: rgb(61, 71, 82);
  border-radius: 8px;
  border: 1px solid rgb(229, 232, 236);
  overflow: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.response-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.response-container img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 16px;
  margin-bottom: 10px;
}

.response-container p {
  margin: 0;
  margin-bottom: 5px;

  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.875rem;
  line-height: 1.75;
  font-weight: 700;
}

.response-container span {
  font-weight: 400;
}
